p{
	text-align: center;
}
.thumbnail img{
	height: 155px;
}
body{
	background-image: url("../images/background.jpg");
}
h1{
	text-align: center;
	color: white;
}
.thumbnail{
	background-color: #0243a0;
}
.caption p{
	color: #88b8dc;
}
.panel{
	margin-top: 10px;
}
